.text-sphere {
	position: relative;
	width: 100%;
	top: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.tagcloud {
		display: inline-block;
		top: 0;
		left: 0;
		font-family: "Coolvetica";
		font-weight: 600;
		letter-spacing: 0.0625em;
		font-size: 1.5em;
	}

	.tagcloud--item {
		color: #fff;

		&:hover {
			color: #ffd700;
			text-transform: uppercase;
		}
	}
}

@media screen and (max-width: 1200px) {
	.text-sphere {
		position: absolute;
		top: 30px;
	}
}
